// どんぐり追加(webフォント)
@import url('https://fonts.googleapis.com/css2?family=Kosugi&family=Montserrat&display=swap');

body{
    background: #f9f9f9;
    // どんぐり追加
    font-family: 'Kosugi', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin:0;
}

// header{
//     background:#eee;
//     // background:#6d819c;
//     text-align: center;
//     padding-top:64px;
//     padding-bottom:20px;
//     margin:0;
//     font-size:2em;
//     animation-name:fade-in;
//     animation-duration:1s;
//     animation-timing-function:ease-in;
//     animation-delay:0ms;
//     h1{
//         margin:0;padding:0;
//         color:#3e4149;
//     }
//     p{
//         margin:0;padding:0;
//         color:#666;
//     }
// }

#img_post_btn, #play, #stop, #to_top{
    cursor: pointer;
    width:200px;
    border: 1px solid #ccc;
    border-radius:5px; // どんぐり変更
    text-align: center;
    padding:12px 0;
    margin: 16px auto;
    font-weight: bold;
    background:#f9f9f9;
}

#img_form_container{
    // background:#eee;
    // background:#e4e7ec;
    //background: #dadada;
    margin:10px;
    padding:10px;
    border-radius:5px; // どんぐり変更
    animation-name:fade-in;
    animation-duration:2s;
    animation-timing-function:ease-in;
    animation-delay:0ms;
    // font-weight:none;  // どんぐり変更
    text-align: center;
    color:#666;
    p{
        color: #333;
    }
    form{
        font-weight:bold;
    }
    
    //#preview {
    //    img{
    //        // width:80%;
    //    }
    //}
}


#app_description {
    // background:#eee;
    background: #dadada;
    // background:#55967e;
    margin:10px;
    padding:10px;
    border-radius:5px; // どんぐり変更
    animation-name:fade-in;
    animation-duration:3s;
    animation-timing-function:ease-in;
    animation-delay:0ms;
    text-align:center;
    h1{
        text-align: center;
        margin:0;padding:0;
        color:#3e4149;
    }
    p {
        margin:0;padding:0;
        color:#666;
    }
    ul {
        padding:0 5px;
        list-style:none;
        margin-bottom:0;
        li {
            margin-bottom:20px;
        }
    }
}
#data_responce{
    // background:#eee;
    // background:#e4e7ec;
    border-radius:5px; //どんぐり変更
    background: #eee;
    margin:10px;
    padding:10px;
    text-align:center;
    h1{
        margin:0;padding:0;
        color:#333;
    }
    p {
        margin:0;padding:0;
        color:#666;
    }
    #music_player{
        margin:5px;
        .hidden{
            display:none;
        }
        #music_btns{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        audio{
            margin:5px;
        }
        #play, #stop{
            width:100px;
            margin-top:5px;
            margin-bottom:5px;
        }
    }
    animation-name:fade-in;
    animation-duration:4s;
    animation-timing-function:ease-in;
    animation-delay:0ms;
}

#loading,
#loading:before,
#loading:after {
  border-radius: 50%;
}
#loading {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
#loading:before,
#loading:after {
  position: absolute;
  content: '';
}
#loading:before {
  width: 5.2em;
  height: 10.2em;
  background: #eee;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
#loading:after {
  width: 5.2em;
  height: 10.2em;
  background: #eee;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



@keyframes fade-in {
    0% {opacity:0}
    100% {opacity:1}
}

#img_post_btn:active, #play:active, #stop:active, #to_top:active{
    opacity:.8;
}

#tab_page_block{
    padding-top: 25px;
}

#to_top {
    animation-name:fade-in;
    animation-duration:4s;
    animation-timing-function:ease-in;
    animation-delay:0ms;
    background:#eee;
}

footer{
    padding: 20px 0;
    background: #323135;
    // background: #6d819c;
    color: #98969c;
    // color: #272343;
    font-weight:bold;
    text-align: center;
    animation-name:fade-in;
    animation-duration:5s;
    animation-timing-function:ease-in;
    animation-delay:0ms;
    ul {
        list-style:none;
        margin:20px 0;
        padding:0;
        li{
            margin:20px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size:12px;
            font-weight:none;
            img{
                margin-right:20px;
                width:100px;
                height:100px;
                border-radius:50%;
            }
            .member_desc{
                margin:0;padding:0;
            }
            h1 {
                margin:10px;
                font-size:20px;
                font-weight:bold;
                color:#f9f9f9;
            }
            p {
                margin:0px;
            }
        }
    }
}


@media (min-width: 900px) {
    #img_post_btn:hover, #play:hover, #stop:hover, #to_top:hover{
        opacity:.8;
    }
    
    // どんぐり変更
    // header{
    //     font-size:2em;
    //     padding-bottom:60px;
    // }
    
    footer{
        ul{
            display:flex;
            justify-content: center;
            align-items: center;
            li {
                // margin:0 50px !important;
                margin:0 auto;
                flex-direction:column;
                img{
                    width:150px;
                    height:150px;
                    margin-right:0px !important;
                }
            }
        }
    }
    
    #img_form_container {
        margin: 30px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            margin:10px;
            //margin-right:50px;
            margin-right:12px;
            font-weight:bold;
            color:#666;
        }
        .container{
            //margin:10px;
        }
    }
    
    #app_description {
        margin: 30px 50px;
        .main_desp{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            h1 {
                width:500px;
            }
        }
        ul {
            li{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100px;
                h1 {
                    width:300px;
                }
            }
        }
    }
    
    #data_responce {
        margin: 30px 50px;
        padding: 20px;
        #music_player{
            display: flex;
            justify-content: center;
            align-items: center;
            margin:20px auto;
            audio{
                margin-right:40px;
            }
            #music_btns{
                // margin:5px;
                div {
                    margin:5px;
                    width:150px;
                }
            }
        }
    }
}










// ここからどんぐりレイアウト
.key_visual {
    height: 400px;
    position: relative;
    .key_flex_box {
        display: flex;
        width: 100%;
        .key_flex {
            text-align: center;
            margin: auto;
            /* padding-top: 200px; */
            z-index: 10;
            width: 30%;
            .topVisual {
                text-align: center;
                margin: auto;
                // z-index: 10;
                /* width: 50%; */
                padding-top: 40px;
                max-height: 360px;
                width: auto; //--追加--野口----------------------
                // width: 100%;
                vertical-align: bottom;
            }
            .topTitle {
                text-align: left;
                margin-right: auto;
                z-index: 10;
                /* width: 50%; */
                padding-top: 20px;
                // height: 300px;
                width: 80%;
            }
        }
        .key_30 {
            width: 30%;
        }
        .key_70 {
            width: 70%;
            margin-right: auto;
            text-align:left
        }
        .pc_key_70 {
            width: 70%;
            margin-right: auto;
            text-align:left
        }
        
        .s_key_70 {
            display: none;
        }
    }
    .key_mask {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 400px;
        background: #fff;
        opacity: 0.2;
        z-index: 0;
    }
    // .key_mask2 {
    //     position: absolute;
    //     top: 400px;
    //     left: 0px;
    //     width: 100%;
    //     height: 20px;
    //     background: #f9f9f9;
    //     opacity: 1.0;
    //     z-index: 0;
    // }
    .transition_bg {
        position: absolute;
        top: -15px;
        left: 0px;
        width: 100%;
        height: 400px;
        z-index: -1;
        padding: 0;
    
        li {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: none;
            opacity: 0;
            -webkit-animation: anime 28s linear 0s infinite ;
            animation: anime 28s linear 0s infinite ;
        }
        li:nth-child(1) { 
          background-image: url(../image/key_visual/key_visual_1.jpg);
        }
        li:nth-child(2) {
          background-image: url(../image/key_visual/key_visual_2.jpg);
          -webkit-animation-delay: 4s;
          animation-delay: 4s;
        }
        li:nth-child(3) {
          background-image: url(../image/key_visual/key_visual_3.jpg);
          -webkit-animation-delay: 8s;
          animation-delay: 8s;
        }
        li:nth-child(4) {
          background-image: url(../image/key_visual/key_visual_8.jpg);
          -webkit-animation-delay: 12s;
          animation-delay: 12s;
        }
        li:nth-child(5) { 
          background-image: url(../image/key_visual/key_visual_5.jpg);
          -webkit-animation-delay: 16s;
          animation-delay: 16s;
        }
        li:nth-child(6) {
          background-image: url(../image/key_visual/key_visual_6.jpg);
          -webkit-animation-delay: 20s;
          animation-delay: 20s;
        }
        li:nth-child(7) {
          background-image: url(../image/key_visual/key_visual_7.jpg);
          -webkit-animation-delay: 24s;
          animation-delay: 24s;
        }
    }
}
    

@-webkit-keyframes anime { 
  0% {
      -webkit-animation-timing-function: liner;
      opacity: 0;
  }
  5% {
      /* -webkit-transform: scale(1.1); */
      opacity: 1;
  }
  30% {
    //   -webkit-transform: scale(0 1.05);
          -webkit-animation-timing-function: liner;
      opacity: 1;
  }
  50% {
    //   -webkit-transform: scale(0 1.1);
      opacity: 0;
  }
  100% { opacity: 0 }
}
@keyframes anime { 
  0% {
      animation-timing-function: liner;
      opacity: 0;
  }
  5% {
      /* transform: scale(1.1); */
      opacity: 1;
  }
  30% {
    //   transform: scale(0 1.05);
          animation-timing-function: liner;
      opacity: 1;
  }
  50% {
    //   transform: scale(0 1.1);
      opacity: 0;
  }
  100% { opacity: 0 }
}

// 使い方section
.how {
    max-width: 1100px;
    width: 90%;
    // margin: 30px 50px;
    margin: auto;
    h1 {
        // padding-left: 5px;
        text-align: center;
        font-size: 40px;
        letter-spacing: 8px;
        font-weight: normal;
    }
    .how_contents {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .flex_circle {
            max-width: 300px;
            width: 30%;
            img {
                width: 100%;
            }
        }
    }
}


.how_container {
    margin: auto;
    text-align: center;
    .how_flex {
        margin: 30px 50px;
        display: flex;
        justify-content: space-between;
        max-width: 1100px;
        .how_circle {
            text-align: center;
            width: 270px;
            height: 270px;
            background: #dadada;
            border-radius: 50%;
            p {
                color: #fff;
                font-size: 32px;
                letter-spacing: 5px;
                margin: 0;
            }
            .num {
                padding-top: 10px;
            }
            .ppp {
                padding: 1px;
            }
            img {
                margin-top: -20px;
                margin-left: 5px;
                width: 100%;
                padding-bottom: 5px;
                display: block;
            }
        }
    }
}

// .line_reg {
//     // margin: 30px 50px;
//     .line_reg_container {
//         border-radius: 5px;
//         background: #dadada;
//         margin: 30px 50px;
//         display: flex;
//         .flex_cont {
//             display: flex;
//             margin : auto;
//             height: 80px;
//             padding: 10px;
//             .flex_item {
//                 height: 60px;
                
//                 .line_link {
//                     height: 100%;
//                     display: block;
//                     img {
//                         height: 100%;
//                         vertical-align: bottom;
//                     }
//                 }
//                 p {
//                     margin: 0;
//                 }
//             }
//         }
//     }
// }


.menuContainer {
    padding: 0;
    // display: fixed;
    // height: 24px;
    .photoMenuMask {
        width: 100%;
        height: 40px;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 100;
        opacity: 0.2;
        visibility: visible;
        background: #fff;
    }
    .photoMenuMask.hide {
        opacity: 0;
        visibility: hidden;
        transition: 1.0s;
    }
    .photoMenu {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height :40px;
        margin: auto;
        z-index: 100;
        transition: 1.0s;
        opacity: 1.0;
        display: flex;
        visibility: visible;
        padding: 0;
        #name {
            margin: 0 0 0 auto;
            a {
                display: block;
                text-decoration: none;
                padding: 0;
                margin: 0;
                transition: 0.6s;
                img {
                    padding: 4px;
                    height: 32px;
                }
            }
        }
        #line {
            margin-right: 18px;
            a {
                display: block;
                padding: 0;
                margin: 0;
                img {
                    padding: 4px 0;
                    height: 32px;
                }
            }
        }
    }
    .photoMenu.hide {
        visibility: hidden;
        opacity: 0;
    }
}



@media (max-width: 900px) {
    .menuContainer {
        .photoMenu {
            #line {
                margin-right: 10px;
            }
            
        }
    }
}

@media (max-width: 800px) {
    .topVisual{ //--追加--野口----------------------
        width:100% !important;
    }
    .pc_key_70 {
        display: none;
    }
    .key_visual .key_flex_box .s_key_70 {
        display: block;
    }
    .how {
        h1 {
            font-size: 28px;
            letter-spacing: 6px;
        }
    }
}
@media (max-width: 500px) {
    .key_visual {
        height: 250px;
        
        .key_mask {
        height: 250px;
        }
        .transition_bg {
            height: 250px;
        }
    }
    .how {
        h1 {
            font-size: 20px;
            letter-spacing: 4px;
        }
    }
}


// オガタさん
//--------------------------------------------------------
//--------------------------------------------------------
//--------------------------------------------------------

#camera_icon_btn {
    cursor: pointer;
    background: #ffa500;
    width:200px;
    height:50px;
    border-radius: 24px;
    display:inline-block;
    //justify-content: center;
    //align-items: center;
    align-items:flex-end;
    img {
      align:center;
      height:100%;
      vertical-align:middle;
      margin-bottom:15px;
    }
    span {
      height:100%;
      margin-left:20px;
      margin-bottom:20px;
      font-weight: bold;
      //font-size:180%;
     //font-size:12px;
     //font-size:2em;
     //margin-top:30px;
    }
  border: 1px solid #ccc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

  background-image: linear-gradient(#eee 0%, #999 100%);

}
#camera_icon_btn:hover {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}
#camera_icon_btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
#sample_img_post_btn, #img_post_btn, #play, #stop, #to_top, #reload_btn{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

  background-image: linear-gradient(#eee 0%, #999 100%);

  //height:50px;
  border-radius: 24px;

  cursor: pointer;
  border: 1px solid #ccc;
  width:200px;
  text-align: center;
  padding:12px 0;
  margin: 16px auto;
  font-weight: bold;
  //background:#f9f9f9;
}
#img_post_btn:hover, #play:hover, #stop:hover, #to_top:hover, #reload_btn:hover{
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}
#img_post_btn:active, #play:active, #stop:active, #to_top:active, #reload_btn:active{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
    //opacity:.8;
}

#reload_btn{
  animation-name:fade-in;
  animation-duration:4s;
  animation-timing-function:ease-in;
  animation-delay:0ms;
}
//------------------------------
/*
.radio_up8ch_btn{
  //box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);

  //background-image: linear-gradient(#eee 0%, #bbb 100%);
  //background-image: linear-gradient(#eee 0%, #ffffe0 30%);
  //background-image: linear-gradient(#eee 0%, #fff0f5 100%);
  background-image: linear-gradient(#eee 0%, #fff 100%);

  //height:50px;
  border-radius: 34px;

  cursor: pointer;
  border: 1px solid #ccc;
  width:120px;
  text-align: center;
  padding:12px 0;
  margin: 16px auto;
  font-weight: bold;
  //background:#f9f9f9;

  opacity:.4;
  margin-right:30px;
}
.radio_up8ch_btn:hover{
  opacity:.6;
}
#checkbox-block{
  display:flex;
  justify-content:center;
  //justify-content:space-around;
  input[type="radio"] {
    display: none;
  }
  input:checked + label {
    div{
     opacity:1;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    }
  }
}
#checkbox-block2{
  display:flex;
  justify-content:center;
  //justify-content:space-around;
  input[type="radio"] {
    display: none;
  }
  input:checked + label {
    div{
     opacity:1;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    }
  }
}
*/
#checkbox-block{
  .radio_up8ch_btn{
     display: inline-block; 
     border-width: 1px 1px 0px 1px;  // 上側と左右に枠線を引く 
     border-style: solid;            // 枠線種類は実線 
     border-color: #ccc;            // 枠線の色/
     border-radius: 0.75em 0.75em 0px 0px;  // 左上と右上の角だけを丸くする
     padding: 0.75em 1em;            // 内側の余白量 
     font-weight: bold;              // タブの文字を太字にする
     color: black;                   // タブの文字色：黒色
     background-color: #eee; 
  
    //margin: 10px auto;
    margin-right:15px;
    opacity:.2;
  }
  .radio_up8ch_btn:hover{
    //opacity:.4;
    cursor: pointer; 
  }
  display:flex;
  //justify-content:center;
  //justify-content:space-around;
  input[type="radio"] {
    display: none;
  }
  input:checked + label {
    div{
     opacity:1;
    //box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    //box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.8);
    }
  }
}

#tab_page_block{
  background:#eee;
  border-radius:0 7px 7px 7px;
//   border-radius: 0em 0.7px 0.7px 0.7px;
  border: 1px solid #ccc;
  margin-top: -1px;
  //box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.8);

}
//------------------------------

#img2audio_block{
  animation-name:fade-in;
  animation-duration:2s;
  animation-timing-function:ease-in;
  animation-delay:0ms;
  //margin-left:100px;

  display:flex;
  //justify-content:space-around;
  justify-content:center;


  #img_form_container{
    display:block;
    #checkbox-block{
    //   margin-top:30px;  変更どんぐり
      margin-top:10px;
    }
    #upload_form{
      > *{
        // margin-top:30px; 変更どんぐり
        margin-top:10px;
      }
    }
    #choise_img{
      > *{
        margin-top:40px;
      }
    }
    #img_file {
        display:none;
    }
    //background:#eee;
    border-radius:7px;
    text-align: center;
  
    width:90%;
    align-items:center;
    #preview {
        img{
            //max-height:100px;
            //max-width:100px;
            //width:200px;
            // width: 90%;
        }
        p {
            margin-top: -24px; //変更どんぐり
        }
    }
    #sample_img_post_form{
      //display:inline-block;
      display:flex;
      //justify-content:space-around;
      justify-content:center;
      .sm_im_cn {
        //background: #ffa500;
  
        //margin-right:10px;
        width:15%;
        img {
          //display:flex;
          //align-items:center;
          //justify-content:flex-end;
          width:90%;
          opacity:0.3;
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
          border-radius: 4px;
    
        }
        img:hover{
         opacity:0.8;
         box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
        }
        input:checked + label {
          img{
           opacity:1;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
          }
        }
      }
      .sm_im_cn input[type="radio"] {
        display: none;
      }
    }
    #sample_img_preview{
        img{
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
            border-radius: 4px;
        }
    }
  }

  #data_responce{
    display:block;
    background:#eee;
    border-radius:7px;
    //width:30%;
    text-align:center;
    padding:10px;
  
    margin:10px;
    #res_img_block{
        img{
            // max-height:300px;
            max-width:500px;
            width: 100%;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
            border-radius: 4px;
        }
    }
    #music_player{
      width:90%;
      audio{
        width:90%;
      }
      #play, #stop{
        //   display:none;    //付けてダメ？
          
          //width:100px;
          //margin-top:5px;
          //margin-bottom:5px;
      }
  
    }
  }
}

#result_response{
  //font-size:12px;
  margin-right:5px;
  font-size:2em;
  font-weight:bold;

}

@media (max-width: 500px) {
    #res_img_block{
        img{
            //width: 100%;
        }
    }
    #preview {
        img{
            //width: 90%;
        }
    }
}

// *,
// *:before,
// *:after {
//   -webkit-box-sizing: inherit;
//   box-sizing: inherit;
// }

// html {
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
//   font-size: 62.5%;/*rem算出をしやすくするために*/
// }

.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

/*その他と主な共通部分は省略*/

.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;

  -webkit-transform-style: preserve-3d;

  transform-style: preserve-3d;
}

.btn-border:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 5px;
  height: 100%;

  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;

  background: #111;
}

.btn-border:hover {
  color: #ccc;
  background: #000;
}

.btn-border:hover:before {
  background: #ccc;
}
