@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kosugi&family=Montserrat&display=swap");
body {
  background: #f9f9f9;
  font-family: 'Kosugi', sans-serif;
  font-family: 'Montserrat', sans-serif;
  margin: 0; }

#img_post_btn, #play, #stop, #to_top {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto;
  font-weight: bold;
  background: #f9f9f9; }

#img_form_container {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0ms;
  text-align: center;
  color: #666; }
  #img_form_container p {
    color: #333; }
  #img_form_container form {
    font-weight: bold; }

#app_description {
  background: #dadada;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  animation-name: fade-in;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 0ms;
  text-align: center; }
  #app_description h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #3e4149; }
  #app_description p {
    margin: 0;
    padding: 0;
    color: #666; }
  #app_description ul {
    padding: 0 5px;
    list-style: none;
    margin-bottom: 0; }
    #app_description ul li {
      margin-bottom: 20px; }

#data_responce {
  border-radius: 5px;
  background: #eee;
  margin: 10px;
  padding: 10px;
  text-align: center;
  animation-name: fade-in;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-delay: 0ms; }
  #data_responce h1 {
    margin: 0;
    padding: 0;
    color: #333; }
  #data_responce p {
    margin: 0;
    padding: 0;
    color: #666; }
  #data_responce #music_player {
    margin: 5px; }
    #data_responce #music_player .hidden {
      display: none; }
    #data_responce #music_player #music_btns {
      display: flex;
      justify-content: space-around;
      align-items: center; }
    #data_responce #music_player audio {
      margin: 5px; }
    #data_responce #music_player #play, #data_responce #music_player #stop {
      width: 100px;
      margin-top: 5px;
      margin-bottom: 5px; }

#loading,
#loading:before,
#loading:after {
  border-radius: 50%; }

#loading {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

#loading:before,
#loading:after {
  position: absolute;
  content: ''; }

#loading:before {
  width: 5.2em;
  height: 10.2em;
  background: #eee;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s; }

#loading:after {
  width: 5.2em;
  height: 10.2em;
  background: #eee;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease; }

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#img_post_btn:active, #play:active, #stop:active, #to_top:active {
  opacity: .8; }

#tab_page_block {
  padding-top: 25px; }

#to_top {
  animation-name: fade-in;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-delay: 0ms;
  background: #eee; }

footer {
  padding: 20px 0;
  background: #323135;
  color: #98969c;
  font-weight: bold;
  text-align: center;
  animation-name: fade-in;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-delay: 0ms; }
  footer ul {
    list-style: none;
    margin: 20px 0;
    padding: 0; }
    footer ul li {
      margin: 20px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: none; }
      footer ul li img {
        margin-right: 20px;
        width: 100px;
        height: 100px;
        border-radius: 50%; }
      footer ul li .member_desc {
        margin: 0;
        padding: 0; }
      footer ul li h1 {
        margin: 10px;
        font-size: 20px;
        font-weight: bold;
        color: #f9f9f9; }
      footer ul li p {
        margin: 0px; }

@media (min-width: 900px) {
  #img_post_btn:hover, #play:hover, #stop:hover, #to_top:hover {
    opacity: .8; }
  footer ul {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer ul li {
      margin: 0 auto;
      flex-direction: column; }
      footer ul li img {
        width: 150px;
        height: 150px;
        margin-right: 0px !important; }
  #img_form_container {
    margin: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
    #img_form_container p {
      margin: 10px;
      margin-right: 12px;
      font-weight: bold;
      color: #666; }
  #app_description {
    margin: 30px 50px; }
    #app_description .main_desp {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px; }
      #app_description .main_desp h1 {
        width: 500px; }
    #app_description ul li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px; }
      #app_description ul li h1 {
        width: 300px; }
  #data_responce {
    margin: 30px 50px;
    padding: 20px; }
    #data_responce #music_player {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px auto; }
      #data_responce #music_player audio {
        margin-right: 40px; }
      #data_responce #music_player #music_btns div {
        margin: 5px;
        width: 150px; } }

.key_visual {
  height: 400px;
  position: relative; }
  .key_visual .key_flex_box {
    display: flex;
    width: 100%; }
    .key_visual .key_flex_box .key_flex {
      text-align: center;
      margin: auto;
      /* padding-top: 200px; */
      z-index: 10;
      width: 30%; }
      .key_visual .key_flex_box .key_flex .topVisual {
        text-align: center;
        margin: auto;
        /* width: 50%; */
        padding-top: 40px;
        max-height: 360px;
        width: auto;
        vertical-align: bottom; }
      .key_visual .key_flex_box .key_flex .topTitle {
        text-align: left;
        margin-right: auto;
        z-index: 10;
        /* width: 50%; */
        padding-top: 20px;
        width: 80%; }
    .key_visual .key_flex_box .key_30 {
      width: 30%; }
    .key_visual .key_flex_box .key_70 {
      width: 70%;
      margin-right: auto;
      text-align: left; }
    .key_visual .key_flex_box .pc_key_70 {
      width: 70%;
      margin-right: auto;
      text-align: left; }
    .key_visual .key_flex_box .s_key_70 {
      display: none; }
  .key_visual .key_mask {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 400px;
    background: #fff;
    opacity: 0.2;
    z-index: 0; }
  .key_visual .transition_bg {
    position: absolute;
    top: -15px;
    left: 0px;
    width: 100%;
    height: 400px;
    z-index: -1;
    padding: 0; }
    .key_visual .transition_bg li {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: none;
      opacity: 0;
      -webkit-animation: anime 28s linear 0s infinite;
      animation: anime 28s linear 0s infinite; }
    .key_visual .transition_bg li:nth-child(1) {
      background-image: url(../image/key_visual/key_visual_1.jpg); }
    .key_visual .transition_bg li:nth-child(2) {
      background-image: url(../image/key_visual/key_visual_2.jpg);
      -webkit-animation-delay: 4s;
      animation-delay: 4s; }
    .key_visual .transition_bg li:nth-child(3) {
      background-image: url(../image/key_visual/key_visual_3.jpg);
      -webkit-animation-delay: 8s;
      animation-delay: 8s; }
    .key_visual .transition_bg li:nth-child(4) {
      background-image: url(../image/key_visual/key_visual_8.jpg);
      -webkit-animation-delay: 12s;
      animation-delay: 12s; }
    .key_visual .transition_bg li:nth-child(5) {
      background-image: url(../image/key_visual/key_visual_5.jpg);
      -webkit-animation-delay: 16s;
      animation-delay: 16s; }
    .key_visual .transition_bg li:nth-child(6) {
      background-image: url(../image/key_visual/key_visual_6.jpg);
      -webkit-animation-delay: 20s;
      animation-delay: 20s; }
    .key_visual .transition_bg li:nth-child(7) {
      background-image: url(../image/key_visual/key_visual_7.jpg);
      -webkit-animation-delay: 24s;
      animation-delay: 24s; }

@-webkit-keyframes anime {
  0% {
    -webkit-animation-timing-function: liner;
    opacity: 0; }
  5% {
    /* -webkit-transform: scale(1.1); */
    opacity: 1; }
  30% {
    -webkit-animation-timing-function: liner;
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes anime {
  0% {
    animation-timing-function: liner;
    opacity: 0; }
  5% {
    /* transform: scale(1.1); */
    opacity: 1; }
  30% {
    animation-timing-function: liner;
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.how {
  max-width: 1100px;
  width: 90%;
  margin: auto; }
  .how h1 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 8px;
    font-weight: normal; }
  .how .how_contents {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .how .how_contents .flex_circle {
      max-width: 300px;
      width: 30%; }
      .how .how_contents .flex_circle img {
        width: 100%; }

.how_container {
  margin: auto;
  text-align: center; }
  .how_container .how_flex {
    margin: 30px 50px;
    display: flex;
    justify-content: space-between;
    max-width: 1100px; }
    .how_container .how_flex .how_circle {
      text-align: center;
      width: 270px;
      height: 270px;
      background: #dadada;
      border-radius: 50%; }
      .how_container .how_flex .how_circle p {
        color: #fff;
        font-size: 32px;
        letter-spacing: 5px;
        margin: 0; }
      .how_container .how_flex .how_circle .num {
        padding-top: 10px; }
      .how_container .how_flex .how_circle .ppp {
        padding: 1px; }
      .how_container .how_flex .how_circle img {
        margin-top: -20px;
        margin-left: 5px;
        width: 100%;
        padding-bottom: 5px;
        display: block; }

.menuContainer {
  padding: 0; }
  .menuContainer .photoMenuMask {
    width: 100%;
    height: 40px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
    opacity: 0.2;
    visibility: visible;
    background: #fff; }
  .menuContainer .photoMenuMask.hide {
    opacity: 0;
    visibility: hidden;
    transition: 1.0s; }
  .menuContainer .photoMenu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    margin: auto;
    z-index: 100;
    transition: 1.0s;
    opacity: 1.0;
    display: flex;
    visibility: visible;
    padding: 0; }
    .menuContainer .photoMenu #name {
      margin: 0 0 0 auto; }
      .menuContainer .photoMenu #name a {
        display: block;
        text-decoration: none;
        padding: 0;
        margin: 0;
        transition: 0.6s; }
        .menuContainer .photoMenu #name a img {
          padding: 4px;
          height: 32px; }
    .menuContainer .photoMenu #line {
      margin-right: 18px; }
      .menuContainer .photoMenu #line a {
        display: block;
        padding: 0;
        margin: 0; }
        .menuContainer .photoMenu #line a img {
          padding: 4px 0;
          height: 32px; }
  .menuContainer .photoMenu.hide {
    visibility: hidden;
    opacity: 0; }

@media (max-width: 900px) {
  .menuContainer .photoMenu #line {
    margin-right: 10px; } }

@media (max-width: 800px) {
  .topVisual {
    width: 100% !important; }
  .pc_key_70 {
    display: none; }
  .key_visual .key_flex_box .s_key_70 {
    display: block; }
  .how h1 {
    font-size: 28px;
    letter-spacing: 6px; } }

@media (max-width: 500px) {
  .key_visual {
    height: 250px; }
    .key_visual .key_mask {
      height: 250px; }
    .key_visual .transition_bg {
      height: 250px; }
  .how h1 {
    font-size: 20px;
    letter-spacing: 4px; } }

#camera_icon_btn {
  cursor: pointer;
  background: #ffa500;
  width: 200px;
  height: 50px;
  border-radius: 24px;
  display: inline-block;
  align-items: flex-end;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(#eee 0%, #999 100%); }
  #camera_icon_btn img {
    align: center;
    height: 100%;
    vertical-align: middle;
    margin-bottom: 15px; }
  #camera_icon_btn span {
    height: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: bold; }

#camera_icon_btn:hover {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5); }

#camera_icon_btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none; }

#sample_img_post_btn, #img_post_btn, #play, #stop, #to_top, #reload_btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(#eee 0%, #999 100%);
  border-radius: 24px;
  cursor: pointer;
  border: 1px solid #ccc;
  width: 200px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto;
  font-weight: bold; }

#reload_btn {
  margin: 20px auto; }

#img_post_btn:hover, #play:hover, #stop:hover, #to_top:hover, #reload_btn:hover {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5); }

#img_post_btn:active, #play:active, #stop:active, #to_top:active, #reload_btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none; }

#reload_btn {
  animation-name: fade-in;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-delay: 0ms; }

/*
.radio_up8ch_btn{
  //box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);

  //background-image: linear-gradient(#eee 0%, #bbb 100%);
  //background-image: linear-gradient(#eee 0%, #ffffe0 30%);
  //background-image: linear-gradient(#eee 0%, #fff0f5 100%);
  background-image: linear-gradient(#eee 0%, #fff 100%);

  //height:50px;
  border-radius: 34px;

  cursor: pointer;
  border: 1px solid #ccc;
  width:120px;
  text-align: center;
  padding:12px 0;
  margin: 16px auto;
  font-weight: bold;
  //background:#f9f9f9;

  opacity:.4;
  margin-right:30px;
}
.radio_up8ch_btn:hover{
  opacity:.6;
}
#checkbox-block{
  display:flex;
  justify-content:center;
  //justify-content:space-around;
  input[type="radio"] {
    display: none;
  }
  input:checked + label {
    div{
     opacity:1;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    }
  }
}
#checkbox-block2{
  display:flex;
  justify-content:center;
  //justify-content:space-around;
  input[type="radio"] {
    display: none;
  }
  input:checked + label {
    div{
     opacity:1;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    }
  }
}
*/
#checkbox-block {
  display: flex; }
  #checkbox-block .radio_up8ch_btn {
    display: inline-block;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 0.75em 0.75em 0px 0px;
    padding: 0.75em 1em;
    font-weight: bold;
    color: black;
    background-color: #eee;
    margin-right: 15px;
    opacity: .4; }
  #checkbox-block .radio_up8ch_btn:hover {
    cursor: pointer; }
  #checkbox-block input[type="radio"] {
    display: none; }
  #checkbox-block input:checked + label div {
    opacity: 1; }

#tab_page_block {
  background: #eee;
  border-radius: 0 7px 7px 7px;
  border: 1px solid #ccc;
  margin-top: -1px; }

#img2audio_block {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0ms;
  display: flex;
  justify-content: center; }
  #img2audio_block #img_form_container {
    display: block;
    margin: 10px 50px 0 50px;
    padding-bottom: 0;
    border-radius: 7px;
    text-align: center;
    width: 90%;
    align-items: center; }
    #img2audio_block #img_form_container #checkbox-block {
      margin-top: 10px; }
    #img2audio_block #img_form_container #upload_form > * {
      margin-top: 10px; }
    #img2audio_block #img_form_container #choise_img > * {
      margin-top: 20px; }
    #img2audio_block #img_form_container #img_file {
      display: none; }
    #img2audio_block #img_form_container #preview img {
      max-height: 300px;
      max-width: 20%; }
    #img2audio_block #img_form_container #preview p {
      margin-top: -24px; }
    #img2audio_block #img_form_container #sample_img_post_form {
      display: flex;
      justify-content: center; }
      #img2audio_block #img_form_container #sample_img_post_form .sm_im_cn {
        width: 15%; }
        #img2audio_block #img_form_container #sample_img_post_form .sm_im_cn img {
          width: 90%;
          height: 100%;
          opacity: 0.3;
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
          border-radius: 4px; }
        #img2audio_block #img_form_container #sample_img_post_form .sm_im_cn img:hover {
          opacity: 0.8;
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8); }
        #img2audio_block #img_form_container #sample_img_post_form .sm_im_cn input:checked + label img {
          opacity: 1;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8); }
      #img2audio_block #img_form_container #sample_img_post_form .sm_im_cn input[type="radio"] {
        display: none; }
    #img2audio_block #img_form_container #sample_img_preview img {
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
      border-radius: 4px; }
  #img2audio_block #data_responce {
    display: block;
    background: #eee;
    border-radius: 7px;
    text-align: center;
    padding: 10px;
    margin: 10px; }
    #img2audio_block #data_responce #res_img_block img {
      max-height: 300px;
      max-width: 30%;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
      border-radius: 4px; }
    #img2audio_block #data_responce #music_player {
      width: 90%; }
      #img2audio_block #data_responce #music_player audio {
        width: 90%; }

#result_response {
  margin-right: 5px;
  font-size: 2em;
  font-weight: bold; }

@media (max-width: 500px) {
  #res_img_block img {
    max-height: 500px !important;
    max-width: 90% !important;
    width: 100% !important; }
  #preview img {
    max-height: 500px !important;
    max-width: 90% !important;
    width: 100% !important; }
  #img2audio_block #img_form_container {
    margin-left: 10px !important;
    margin-right: 10px !important; }
  #sample_img_preview img {
    width: 80% !important; }
  #sample_img_post_form .sm_im_cn {
    width: 32% !important; } }

.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem; }

/*その他と主な共通部分は省略*/
.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.btn-border:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #111; }

.btn-border:hover {
  color: #ccc;
  background: #000; }

.btn-border:hover:before {
  background: #ccc; }
