footer もっくもくver.3
    ul#member
        li
            img(src="image/Kohei.jpg")
            .member_desc
                h1 コウヘイ
                p 横国物理工学B4
                // p 進行/全般/フロントエンド
                p 神経の研究をしています。<br>初開発ですが頑張りました！
                // a(href="https://twitter.com/Torrant5" target="_blank") Twitter(@Torrant5)
        li
            img(src="image/o.jpg")
            .member_desc
                h1 小形
                p 東大電気系M1
                p FPGAやアナログ回路での研究中
                p 2回目の参加です。
                // a HPやツイッター
        li
            img(src="image/uekusa_icon.jpg")
            .member_desc
                h1 ウエクサ
                p 横国島研M1
                p 生体信号の研究をしています。
                a(href="https://twitter.com/Array_fish" target="_blank") Twitter(@Array_fish)
        li
            img(src="image/aoyama.JPEG")
            .member_desc
                h1 青山
                p 東工大材料系M1
                p 薄膜研究してます！<br>参加できてよかった！
                // a HPやツイッター
        li
            img(src="image/donguri.png")
            .member_desc
                h1 どんぐり
                p 横国物理工学B4
                p 物性理論の研究してます．
                a(href="https://twitter.com/oikenihamatte_s" target="_blank") Twitter(@oikenihamatte_s)
        // li
        //     img(src="image/036.jpg")
        //     .member_desc
        //         h1 菅野
        //         p なんだかんだ
        //         a HPやツイッター
