// header
//     .container
//         p= message
//         h1= title
// <header class="menuContainer">
//     <div class="photoMenuMask"></div>
//     <div class="photoMenu">
//       <h1 id="name">
//         <a href="">photune</a>
//       </h1>
//     </div>
// </header>

header.menuContainer
  .photoMenuMask
  .photoMenu
    h1#name
      a photune