head
    meta(charaset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href="css/style.css")
    // https://www.silhouette-illust.com/illust/5105
    link(rel="icon" type="image/x-icon" href="image/favicon.ico")
    script(src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js")