// header
//     .container
//         p= message
//         h1= title

header.menuContainer
  .photoMenuMask
  .photoMenu
    #name
      a
        img(src="image/LOGO_photune.PNG")
    #line
      a(href="https://lin.ee/wJWCp8E", target="_blank")
        img(src="image/LOGO_line.png")
        